[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ["py38"]

[[tool.mypy.overrides]]
module = ["gym.*", "setuptools_scm.*"]
ignore_missing_imports = true
